.u-section-1 .u-sheet-1 {
  min-height: 488px;
}

.u-section-1 .u-image-1 {
  width: 282px;
  height: 331px;
  margin: 126px auto 0 146px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: -301px 238px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 100px 0 456px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px 389px 0 auto;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -52px 114px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 113px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1657px;
}

.u-section-2 .u-tabs-1 {
  min-height: 1537px;
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 8px 0 23px;
}

.u-section-2 .u-text-1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 10px auto 0 10px;
}

.u-section-2 .u-group-1 {
  width: 633px;
  --radius: 10px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 77px;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 23.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 23.3333px));
  min-height: 229px;
  grid-gap: 35px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-text-3 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0 20px;
}

.u-section-2 .u-text-4 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 0 0 20px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 30px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-text-5 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0 20px;
}

.u-section-2 .u-text-6 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 0 0 20px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 30px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-text-7 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0 20px;
}

.u-section-2 .u-text-8 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 0 0 20px;
}

.u-section-2 .u-text-9 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 42px auto 0 10px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 20px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 30px 0 10px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  margin: 30px 48px 0 184px;
}

.u-section-2 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: -183px auto 0 0;
}

.u-section-2 .u-line-2 {
  transform-origin: right center;
  width: 1140px;
  margin: 42px auto 0 -3px;
}

.u-section-2 .u-image-2 {
  width: 170px;
  height: 170px;
  margin: 43px auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: -134px 42px 0 184px;
}

.u-section-2 .u-line-3 {
  transform-origin: right center;
  margin-top: 78px;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  width: 170px;
  height: 170px;
  margin: 43px auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: -165px 42px 0 184px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 14px 0;
}

.u-section-2 .u-group-2 {
  min-height: 150px;
  margin-top: 37px;
  margin-bottom: 0;
  height: auto;
  --radius: 30px;
  width: 100%;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 9px;
}

.u-section-2 .u-group-3 {
  width: 193px;
  --top-left-radius: 30px;
  --bottom-left-radius: 30px;
  height: auto;
  min-height: 150px;
  margin: 3px auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -113px auto 0 215px;
}

.u-section-2 .u-group-4 {
  min-height: 150px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-2 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-group-5 {
  width: 193px;
  --top-left-radius: 30px;
  --bottom-left-radius: 30px;
  height: auto;
  min-height: 150px;
  margin: 1px auto 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -129px 34px 0 215px;
}

.u-section-2 .u-group-6 {
  min-height: 150px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-2 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-group-7 {
  width: 193px;
  --top-left-radius: 30px;
  --bottom-left-radius: 30px;
  height: auto;
  min-height: 150px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-20 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -127px 61px 0 215px;
}

.u-section-2 .u-group-8 {
  min-height: 150px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-2 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-group-9 {
  width: 193px;
  --top-left-radius: 30px;
  --bottom-left-radius: 30px;
  height: auto;
  min-height: 150px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-14 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-21 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-22 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -110px 169px 0 215px;
}

.u-section-2 .u-group-10 {
  min-height: 151px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-2 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1px;
}

.u-section-2 .u-group-11 {
  width: 193px;
  --top-left-radius: 30px;
  --bottom-left-radius: 30px;
  height: auto;
  min-height: 150px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-16 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-23 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-24 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -127px 22px 0 215px;
}

.u-section-2 .u-group-12 {
  min-height: 150px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-2 .u-container-layout-17 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-group-13 {
  width: 193px;
  --top-left-radius: 30px;
  --bottom-left-radius: 30px;
  height: auto;
  min-height: 150px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-18 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-25 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-26 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -110px 77px 0 215px;
}

.u-section-2 .u-group-14 {
  min-height: 150px;
  height: auto;
  --radius: 30px;
  margin-top: 51px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-container-layout-19 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-group-15 {
  width: 193px;
  --top-left-radius: 30px;
  --bottom-left-radius: 30px;
  height: auto;
  min-height: 150px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-20 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-27 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-28 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -112px -216px 0 216px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 23.333299999999998px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 23.333299999999998px));
    min-height: 186px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 32px;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 26px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 26px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    width: 100px;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-group-5 {
    width: 100px;
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-group-7 {
    width: 100px;
    height: auto;
  }

  .u-section-2 .u-group-8 {
    margin-right: auto;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-group-9 {
    width: 100px;
    height: auto;
  }

  .u-section-2 .u-group-10 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-group-11 {
    width: 100px;
    height: auto;
  }

  .u-section-2 .u-group-12 {
    height: auto;
  }

  .u-section-2 .u-group-13 {
    width: 100px;
    height: auto;
  }

  .u-section-2 .u-group-14 {
    height: auto;
  }

  .u-section-2 .u-group-15 {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 17.499975px);
    grid-template-columns: repeat(2, calc(50% - 17.499975px));
    min-height: 474px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-20 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-22 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-23 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-24 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-25 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-26 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-27 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-28 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }
}.button-container {
  display: flex;
  gap: 10px;
}