.u-section-1 .u-sheet-1 {
  min-height: 650px;
}
body{
    background-color:#f2f7fb;
}

.u-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.u-sheet-1 {
  max-width: 500px;
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-form {
  margin-top: 20px;
}

.file-upload-label {
  display: block;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.file-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.upload-button {
  background-color: #478ac9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.upload-button:hover {
  background-color: #357ab7;
}